<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= _.capitalize(blogName) %></title>
		<!-- bower:css -->
		<!-- endbower -->
		<link rel="stylesheet" href="styles/main.css"/>
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<article class="container slim">
			<header class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li class="active">
							<a href="#"> Home </a>
						</li>
					</ul>
				</nav>
				<h3 class="text-muted"> <%= _.capitalize(blogName) %> </h3>
				<hr/>
			</header>

			<section class="jumbotron center">
				<h1> <%= _.capitalize(featureTitle) %> </h1>
				<img src="<%= featureImg %>" alt="<%= featureTitle %> image"/>
				<p class="lead">
					<%= _.capitalize(featureDesc) %>
				</p>
			</section>
			<section class="page"></section>
		</article>
		<!-- bower:js -->
		<!-- endbower -->
		<script type="text/javascript" src="scripts/main.js"></script>
	</body>
</html>