<div class="jumbotron center">
	<h1><%= _.capitalize(featureTitle) %></h1>
	<img src="<%= featureImage %>" alt="<%= featureTitle %> image"/>

	<p class="lead">
		<%= _.capitalize(featureBody) %>
	</p>
</div>
<ul class="list-unstyled">
	<li class="media post" data-id="52ec1ff7e144fc4271000009">
		<a class="pull-left" href="#/posts/52ec1ff7e144fc4271000009">
			<img class="media-object"
				 src="http://a481ab4f6ea4dd65cff0-b2b68ced242ecf1cb9bc1021688e3775.r49.cf1.rackcdn.com/img/learning-yeoman/feature-html5.png"
				 alt="Angular.js">
		</a>

		<div class="media-body">
			<h4 class="media-heading">HTML5</h4>

			<p>HTML5 Boilerplate helps you build fast, robust, and adaptable web apps or sites. Kick-start your project
				with the combined knowledge and effort of 100s of developers, all in one little package.</p>
		</div>
	</li>
	<li class="media post" data-id="52ec20eae144fc427100000c">
		<a class="pull-left" href="#/posts/52ec20eae144fc427100000c">
			<img class="media-object "
				 src="http://a481ab4f6ea4dd65cff0-b2b68ced242ecf1cb9bc1021688e3775.r49.cf1.rackcdn.com/img/learning-yeoman/feature-css3.png"
				 alt="CSS3"/>
		</a>

		<div class="media-body">
			<h4 class="media-heading">CSS3</h4>

			<p>CSS3 is the latest standard for CSS. CSS3 is completely backwards-compatible with earlier
				versions of CSS.</p>
		</div>
	</li>
	<li class="media post" data-id="52ec2213e144fc427100000d">
		<a class="pull-left" href="#/posts/52ec2213e144fc427100000d">
			<img class="media-object "
				 src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/images/feature-grunt.png"
				 alt="Grunt"/>
		</a>

		<div class="media-body">
			<h4 class="media-heading">Grunt</h4>

			<p>The Grunt ecosystem is huge and it's growing every day. With literally hundreds of plugins to
				choose from, you can use Grunt to automate just about anything.</p>
		</div>
	</li>
</ul>